@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Darlington";
    src: url("./media/DarlingtonDemo-z8xjG.ttf");
  }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input::-webkit-date-and-time-value {
  text-align: left;
}